*{
    margin: 0;
    padding: 0;
   

}
body{
    background-color: teal;
}
.nav{
    text-align: right;
    margin-top: 15px;
    margin-right: 10px;
    height: 50px;
}
.contenedor{
    text-align: center;
}
img{

    margin-top: 50px;
    width: 650px;
    height: 550px;
    border-radius: 5px;
}

.contenedor>div{
    margin-top: 10px;
    text-align: center;
}
button{
    margin: 0 5px 0 5px;
    padding: 10px;
    font-size: 15px;
    background-color: turquoise;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: teal;
    border: 1px solid turquoise;
    color: white;

}