<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIVS</title>
    <link rel="stylesheet" href="../css/divs.css">
</head>
<body>
    <div class="nav">
        <a href="../index.html"><button>Home</button></a>
    </div>
    <div class="botonera">
        <button id="add"> Agregar</button>
        <button id="remove"> Eliminar Todo</button>
        <button id="remove-odd"> Eliminar Divs Impares</button>
        <button id="remove-user">Eliminar Div que el usuario desee</button>

    </div>

    <div class="contenedor">
    </div>

    <script src="../js/divs.js"></script>
    
</body>
</html>