<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/zoom.css">
</head>
<body>
    <div class="nav">
        <a href="../index.html"><button>Home</button></a>
    </div>
    <div class="contenedor">
        <img src="../img/Full-Stack-Developer.png" alt="Full-Stack-Developer">
        <div>
            
        <button id="zoom-in">Zoom</button>
        <button id="zoom-out">Zoom Out</buttton>


        </div>


    </div>
    
    <script src="../js/zoom.js"></script>
</body>
</html>